
	
		
			body{
				background-color: green;

				padding: 0px;
				margin: 0px;
			}
			header{
				background-color: lightgreen;
				padding: 7px;
				color:red;
				text-align: center;

			}
			nav{
				background-color: grey;
				padding: 20px;
				margin: 0px;
				outline: thick ridge green;

			}
			h1{
				text-decoration: line-through;
				text-decoration: none;
				font-family: arial;
				color:darkblue;
				text-transform: uppercase;
				text-shadow: 2px 2px 5px red;/* it will bring shadows in the word*/

			}
			p{
				text-decoration: underline;
			}
			a{
				padding: 10px;
				margin: 120px;
				text-decoration: none;
				


			}
			a:active{
			color: green;

			}
			
			a:visited{
			color: darkblue;
			}
			
			
			/*hover will change the color of navigarion and to the attribute a into the color given*/
			 a:hover{
			color: skyblue;
				
			}
			header:hover{
				background-color: skyblue;
			}

			.sidaA{
				background-color: skyblue;
				width: 50%;
				height:430px;
				border:0px;
				vertical-align: top;

			}
			.sideB{
				background-color: yellow;
				width: 50%;
				height:430px;
				border:0px;
			}
			footer{
				padding: 10px;
				background-color: black;
				color:white;
				text-align: center;

			}


			.sub:hover{
				background-color: orange;
			}
		  	
		  	@media screen and (max-width: 600px){
		  		header{
		  			position: static;
		  			background-color: navy blue;
		  			font-family: arial;

		  		}
		  		nav{
		  			position: static;
		  			display: block;

		  		}
		  		body{
		  			
		  			background-color: yellow;
		  			position: static;
		  		}
		  		footer{
		  			position: static;
		  		}
		  	}
		  	
		
 	
		